@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.nav-wrapper {
    height: 70px;
    display: flex;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.logo-img{ 
    max-width: 100px;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;

}

.hero-img {
    max-width: 400px;
    align-self: center;
}
.hero-body {
    justify-self: flex-start;
}

.hero-title {
    width: 70%;
}